# Virtual environment
.venv/
venv/
env/

# PyCharm project settings
.idea/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# OS-specific files
.DS_Store
Thumbs.db
